body {
    background-color: beige;
}

.container {
    width: 1024px;
}

h2 {
    text-align: center;
}

.todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #b4b4b4;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px white solid;
}

label {
    color: #fff;
}

input:checked ~ span {
    color: #26a69a;
}
